@font-face {
	font-family: 'Matterhorn [Rus by me]';
	src: url('fonts/matterhorn_rus_by_me.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/matterhorn_rus_by_me.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/matterhorn_rus_by_me.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/matterhorn_rus_by_me.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/matterhorn_rus_by_me.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/matterhorn_rus_by_me.svg#matterhorn_rus_by_me') format('svg'); /* Chrome < 4, Legacy iOS */
}

.body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    height: 100%;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    grid-template-rows: auto 1fr auto;
    background: url(bg.jpg) no-repeat;
    background-size: 100% 100%;
}

.header {
    text-align: center;
    font-family: 'Matterhorn [Rus by me]';
    color: rgb(196, 219, 248);
    letter-spacing: 1px;
    background-image: url(decorate/b-head-decor_newyear.png);
    background-position: 0 -25px;
    height: 90px;
}

.text {
    font-size: 9vh;
}

@media screen and (max-height: 460px) {
    .text {
        display: none;
    }
}
@media screen and (max-width: 1024px) and (max-height: 460px) {
    .text {
        position: fixed;
        top: 25%;
        left: 25%;
        font-size: 6vh;
    }
}

.container {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: cadetblue;
    
}

.footer>*:first-child {
    font-weight: bold;
    margin: 10px;
    flex: 2 2 auto;
    text-align: center;
}
.footer>*:last-child {
    margin: 10px;
    flex: 2 2 auto;
    text-align: center;
}

.countdown {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 10px 5px;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 51, 51);
    font-size: 15px;
    opacity: 1;
    z-index: 900;
    animation: pulsCount 1s infinite;
}

.ny {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 10px;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vw;
    z-index: 100;
}

@keyframes pulsCount {
    0% {
        font-size: 15px;
        opacity: 1;
    }

    100% {
        font-size: 80vh;
        opacity: 0.7;
    }
}
.stopwatch {
    display: flex;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.flip_card {
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 0 5px;
    box-sizing: border-box;
}


.name {
    grid-column: 1/3;
    font-family: 'Matterhorn [Rus by me]';
    font-size: 4vw;
    color: rgb(196, 219, 248);
    padding: 5px;
}
.card-1,
.card-2 {
    text-align: center;
    padding: 5px;
    background-color: #3f3f3f;
    font-size: 11vw;
    color: #bbbbbbd3;
    border-radius: 5px;
    box-shadow: 8px 8px 3px #bbbbbbbb;
}

.card-2 {
    margin-left: 2px;
}


/*феерверк*/
.feerverk {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 300;
}

.feerverk__1 {
    position: absolute;
    top: 15%;
    left: 7%;
    height: 20%;
    width: 20%;
}

.feerverk__2 {
    position: absolute;
    top: 20%;
    left: 40%;
    height: 20%;
    width: 20%;
}

.feerverk__3 {
    position: absolute;
    top: 15%;
    right: 10%;
    height: 20%;
    width: 20%;
}

.feerverk__1__light-1 {
    position: absolute;
    top: 20%;
    left: 25%;
    height: 10%;
    width: 7%;
    background-image: url(svg/light_green.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.feerverk__1__light-2 {
    position: absolute;
    top: 25%;
    left: 40%;
    height: 10%;
    width: 7%;
    background-image: url(svg/light_blue.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.feerverk__1__light-3 {
    position: absolute;
    top: 40%;
    left: 30%;
    height: 10%;
    width: 7%;
    background-image: url(svg/light_yel.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.feerverk__1__light-4 {
    position: absolute;
    top: 50%;
    left: 40%;
    height: 10%;
    width: 7%;
    background-image: url(svg/light_red.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.feerverk__1__light-5 {
    position: absolute;
    top: 55%;
    left: 20%;
    height: 10%;
    width: 7%;
    background-image: url(svg/light_purple.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;  
}

.feerverk > * {
    -webkit-animation: strike 3s ease-in infinite;
    -moz-animation: strike 3s ease-in infinite;
    -o-animation: strike 3s ease-in infinite;
    animation: strike 3s ease-in infinite;
}

@-webkit-keyframes strike {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes strike {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}

.decorate {
    display: grid;
    grid-template-columns: repeat(12,minmax(20px,1fr));
    background-image: url(decorate/b-head-decor_newyear.png);

}

.ball-1 {
    content: url(decorate/b-ball_n1.png);
}

.ball-2 {
    content: url(decorate/b-ball_n2.png);
}

.ball-3 {
    content: url(decorate/b-ball_n3.png);
}

.ball-4 {
    content: url(decorate/b-ball_n4.png);
}

.ball-5 {
    content: url(decorate/b-ball_n5.png);
}

.ball-6 {
    content: url(decorate/b-ball_n6.png);
}

.ball {
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.bounce {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
}

.bounce1 {
    -webkit-transform: rotate(-13deg);
    -moz-transform: rotate(-13deg);
    -o-transform: rotate(-13deg);
    transform: rotate(-13deg);
}

.bounce2 {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
}

.bounce3 {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
